# پردازش تصویر
Pillow==11.3.0

# پردازش صوت
torch==2.8.0
torchaudio==2.8.0

# پردازش داده‌ها
numpy==2.2.6
scipy==1.16.1
pandas==2.3.2

# پردازش صوت و موسیقی
librosa==0.11.0
pydub==0.25.1
soundfile==0.13.1

# رابط وب و UI
gradio==5.44.1

# دانلود فایل‌ها و مدیریت شبکه
gdown==5.2.0
requests==2.32.5

# ابزارهای کمکی
python-dotenv==1.1.1
tqdm==4.67.1
typing-extensions==4.15.0
