# =========================
# اتصال به Supabase
supabase-py==2.18.1
httpx>=0.24.1
postgrest-py>=0.3.2
cryptography==41.0.3

# =========================
# پردازش تصویر
Pillow==11.3.0

# =========================
# پردازش صوت
torch==2.8.0
torchaudio==2.8.0

# =========================
# پردازش و تحلیل داده‌ها
numpy==1.25.2
scipy==1.10.1
pandas==2.3.2

# =========================
# پردازش فایل‌های صوتی و موسیقی
librosa==0.11.0
pydub==0.25.1
soundfile==0.13.1

# =========================
# رابط وب و UI
gradio==5.44.1
fastapi==0.116.1
uvicorn==0.35.0

# =========================
# دانلود از اینترنت و مدیریت فایل‌ها
gdown==5.2.0
requests==2.32.5

# =========================
# ابزارهای کمکی
python-dotenv==1.1.1
typing-extensions==4.15.0
tqdm==4.67.1
